.view { min-width: 500px; min-height: 350px; }

.pointer { cursor: pointer; }

.md-padding { padding-left: 16px; padding-right: 16px; }

.query { padding-top: 8px; }
.query md-input-container { margin: 0px; }

.options md-select { margin: 0px; }

.new-blacklist md-input-container { width: 100%; }

.saved-queries { max-height: 340px; }
.saved-queries md-list-item { padding: 0; margin: 0; }

.search md-checkbox { margin-bottom: 0px; }

.google-query { padding-top: 48px; }